article {
    display: flex;
    text-align: center;
}

#welcomeMessage {
    text-align: center;
}

.hidden {
    display: none;
}

.intro {
    display: block;
}

.errorMessage {
    display: none;
    color: red;
}

#inputName {
    border-radius: 5px;
}